on:
  push:
    branches: [main]    
  pull_request_target:
    branches: [main]    

  workflow_dispatch:

jobs:
  #job:
  #  runs-on: ubuntu-latest
  #  steps:
  #  - name: Show the Github context for the triggered event
  #    run: echo "$GITHUB_CONTEXT"
  #    env:
  #      GITHUB_CONTEXT: ${{ toJson(github) }}
  test_main:
    if: |
     github.repository_owner == 'jeevananthank' &&
     (github.event_name != 'pull_request' && github.event.repository.fork == false) ||
     (github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        machines: [1, 2]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: test
        run: |
          echo main_repo
          echo testsecret=${{ secrets.TEST }}
          cat result.txt
          echo $GITHUB_RUN_ID-$GITHUB_RUN_ATTEMPT
  test_fork:
    if: |
     github.repository_owner == 'jeevananthank' &&
     (github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.fork == true)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        machines: [1, 2]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: test
        run: |
          echo fork_repo
          echo testsecret=${{ secrets.TEST }}
          cat result.txt        
          echo $GITHUB_RUN_ID-$GITHUB_RUN_ATTEMPT
